%header.block-heading.clearfix
  %h1 Latest Works
.isotope.portfolio-items
  .element-item.grid
    .effect-zoe
      = image_tag "work1.jpg", class: "img-responsive"
      %figcaption
        %h2.hidden-xs
          Creative
          %span Job
        %p.icon-links
          %a{:href => "https://healthwire.pk"}
            Healthwire.pk
  .element-item.grid
    .portfolio-item.effect-zoe
      = image_tag "work2.jpg", class: "img-responsive"
      %figcaption
        %h2.hidden-xs
          Creative
          %span Job
        %p.icon-links
          %a{:href => "#"}
            %i.fa.fa-twitter
          %a{:href => "#"}
            %i.fa.fa-dribbble
          %a{:href => "#"}
            %i.fa.fa-pinterest
  .element-item.grid
    .portfolio-item.effect-zoe
      = image_tag "work3.png", class: "img-responsive"
      %figcaption
        %h2.hidden-xs
          Creative
          %span Job
        %p.icon-links
          %a{:href => "#"}
            %i.fa.fa-twitter
          %a{:href => "#"}
            %i.fa.fa-dribbble
          %a{:href => "#"}
            %i.fa.fa-pinterest
  .element-item.grid
    .portfolio-item.effect-zoe
      = image_tag "work7.jpg", class: "img-responsive"
      %figcaption
        %h2.hidden-xs
          Creative
          %span Job
        %p.icon-links
          %a{:href => "#"}
            %i.fa.fa-twitter
          %a{:href => "#"}
            %i.fa.fa-dribbble
          %a{:href => "#"}
            %i.fa.fa-pinterest
  .element-item.grid
    .portfolio-item.effect-zoe
      = image_tag "work8.png", class: "img-responsive"
      %figcaption
        %h2.hidden-xs
          Creative
          %span Job
        %p.icon-links
          %a{:href => "#"}
            %i.fa.fa-twitter
          %a{:href => "#"}
            %i.fa.fa-dribbble
          %a{:href => "#"}
            %i.fa.fa-pinterest
  .element-item.grid
    .portfolio-item.effect-zoe
      = image_tag "work4.jpg", class: "img-responsive"
      %figcaption
        %h2.hidden-xs
          Creative
          %span Job
        %p.icon-links
          %a{:href => "#"}
            %i.fa.fa-twitter
          %a{:href => "#"}
            %i.fa.fa-dribbble
          %a{:href => "#"}
            %i.fa.fa-pinterest
  .element-item.grid
    .portfolio-item.effect-zoe
      = image_tag "work5.jpg", class: "img-responsive"
      %figcaption
        %h2.hidden-xs
          Creative
          %span Job
        %p.icon-links
          %a{:href => "#"}
            %i.fa.fa-twitter
          %a{:href => "#"}
            %i.fa.fa-dribbble
          %a{:href => "#"}
            %i.fa.fa-pinterest
  .element-item.grid
    .portfolio-item.effect-zoe
      = image_tag "work6.jpg", class: "img-responsive"
      %figcaption
        %h2.hidden-xs
          Creative
          %span Job
        %p.icon-links
          %a{:href => "#"}
            %i.fa.fa-twitter
          %a{:href => "#"}
            %i.fa.fa-dribbble
          %a{:href => "#"}
            %i.fa.fa-pinterest
%a.btn.btn-lg.btn-view{:href => "#"}
  %i.fa.fa-eye
  %span View All