
#portfolio.content-block.text-center
  = render "portfolio"

= render "more_about_me"

= render "client_reviews"

#contact.content-block
  .overlay-3
    %header.block-heading.cleafix.text-center
      %h1 Contact
      %p Feel Free to Contact
    .block-content.text-center
      .container
        .row
          = render "contact_form"
          = render "contact_and_social_info"
