
#portfolio.content-block.text-center
  = render "portfolio"

= render "more_about_me"

#services.content-block.clearfix
  #numbers.parallax
    .overlay
      / title
      .container-fluid.numbers-title
        .container
          .row.block-heading
            %h1 Some Cool Facts About Me
      .container-fluid
        / number list
        %ul.numbersList
          %li.col-md-2.col-sm-4.col-xs-6
            %h4 Conferences
            %span#number1.count1.count-timer 101
          %li.col-md-2.col-sm-4.col-xs-6
            %h4 Lines of Code
            %span#number2.count2 92
          %li.col-md-2.col-sm-4.col-xs-6
            %h4 Hours of Work
            %span#number3.count3 54
          %li.col-md-2.col-sm-4.col-xs-6
            %h4 Repositories in Git
            %span#number4.count4 99
          %li.col-md-2.col-sm-4.col-xs-6
            %h4 Mobile APP
            %span#number5.count5 124
          %li.col-md-2.col-sm-4.col-xs-6
            %h4 Happy Client
            %span#number6.count6 45

= render "client_reviews"

#contact.content-block
  .overlay-3
    %header.block-heading.cleafix.text-center
      %h1 Contact
      %p Feel Free to Contact
    .block-content.text-center
      .container
        .row
          = render "contact_form"
          = render "contact_and_social_info"
